<mat-grid-list cols="1" rowHeight="5:2">
<mat-grid-tile>
<mat-card class="login-card" class="mat-elevation-z0">
  <mat-card-content>
    <img alt="healthtracker" src="../../assets/images/logo_nombre.png"/>
    <p>
    <mat-form-field>
      <input [(ngModel)]="mobile" matInput placeholder="Mobile" type="text"/>
      <button (click)="mobile=undefined" *ngIf="mobile" aria-label="Clear" cdkFocusInitial mat-button mat-icon-button
              matSuffix>
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    </p>
    <p>
    <mat-form-field>
      <input [(ngModel)]="password" matInput placeholder="Password" type="password"/>
    </mat-form-field>
    </p>
  </mat-card-content>
  <mat-card-actions class="container">
    <button mat-raised-button   class="center" color="primary">Log In</button>
  </mat-card-actions>
</mat-card>
</mat-grid-tile>
</mat-grid-list>
