<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content>
  <mat-card *ngIf="overlay" class="overlay mat-elevation-z0">
    <mat-spinner class="spinner"> </mat-spinner>
  </mat-card>
  <mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input [(ngModel)]="user.email" matInput required type="email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Password</mat-label>
    <input [(ngModel)]="user.password" matInput required type="password"/>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>First Name</mat-label>
    <input [(ngModel)]="user.firstName" matInput required type="string">
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Family Name</mat-label>
    <input [(ngModel)]="user.familyName" matInput required type="string">
  </mat-form-field>
  <label>Sex *</label>
  <mat-radio-group required aria-label="Sex"  [(ngModel)]="user.sex">
    <mat-radio-button class="radio-button" *ngFor="let sex of sexGroup" [value]="sex">
      {{sex}}
    </mat-radio-button>
  </mat-radio-group>
<app-search-professional-health-tab-by-name  [(professional)]="professionalName" ></app-search-professional-health-tab-by-name>

</mat-dialog-content>

<mat-dialog-actions>
  <button cdkFocusInitial mat-dialog-close mat-raised-button>Close</button>
  <button *ngIf="isCreated()" (click)="create()" [disabled]=invalid() color="primary" mat-raised-button>Create
  </button>
  <button *ngIf="!isCreated()" (click)="update()" [disabled]=invalid() color="primary" mat-raised-button>Update
  </button>
</mat-dialog-actions>
