<mat-card>
  <mat-card-content>
    <mat-table #table [dataSource]="dataSource" matSort>
      <mat-header-row *matHeaderRowDef="columnsHeader"></mat-header-row>
      <mat-row *matRowDef="let item; columns: columnsHeader"></mat-row>
      <!-- Dynamic column -->
      <ng-container *ngFor="let def of columns" [matColumnDef]="def">
        <mat-header-cell *matHeaderCellDef>{{ def | uppercaseWords }}</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row[def] }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button (click)="onCreate()" *ngIf="createAction==true" mat-button  mat-raised-button  matSuffix>
            <mat-icon color="primary">add</mat-icon> New {{title}}
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let item">
          <button (click)="onRead(item)" *ngIf="readAction==true" mat-button mat-icon-button matSuffix>
            <mat-icon>visibility</mat-icon>
          </button>
          <button (click)="onUpdate(item)" *ngIf="updateAction==true" mat-button mat-icon-button matSuffix>
            <mat-icon color="primary">mode_edit</mat-icon>
          </button>
          <button (click)="onDelete(item)" *ngIf="deleteAction==true" mat-button mat-icon-button matSuffix>
            <mat-icon color="primary">close</mat-icon>
          </button>
          <button (click)="onCreate()" *ngIf="chatAction==true" mat-button mat-icon-button matSuffix>
            <mat-icon color="primary">chat</mat-icon>
          </button>
          <button (click)="onCreate()" *ngIf="menuAction==true" mat-button mat-icon-button matSuffix>
            <mat-icon color="primary">restaurant</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
    </mat-table>
  </mat-card-content>
</mat-card>
