<mat-divider></mat-divider>
<mat-grid-list cols="3" rowHeight="240px">
  <mat-grid-tile>
    <mat-list>
      <div mat-subheader><img alt="miw" src="../../../assets/images/miw.png"/></div>
      <mat-list-item>
        <mat-icon mat-list-icon>location_on</mat-icon>
        <div mat-line>C/ Alan Turing s/n, 28031 Madrid</div>
        <div mat-line></div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>call</mat-icon>
        <div mat-line>+34 913366000</div>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile>

  </mat-grid-tile>
  <mat-grid-tile>
    <mat-list>
      <div mat-subheader>ABOUT AS</div>
      <mat-list-item>
        <div mat-line>Universidad Politécnica de Madrid</div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line>Máster en Ingeniería Web</div>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
</mat-grid-list>
